aniso8601==7.0.0
asgiref==3.5.2
astroid==2.7.3
attrs==21.2.0
cachelib==0.4.1
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.1
cryptography==35.0.0
cycler==0.11.0
Django==3.1.3
django-cors-headers==3.5.0
django-filter==2.4.0
django-graphql-jwt==0.3.1
et-xmlfile==1.1.0
Flask==2.0.1
Flask-Cors==3.0.10
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
fonttools==4.34.4
graphene==2.1.9
graphene-django==2.13.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphviz==0.20.1
greenlet==1.1.2
idna==3.3
importlib-metadata==4.8.1
iniconfig==1.1.1
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.1.0
kiwisolver==1.4.4
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
matplotlib==3.5.3
mccabe==0.6.1
mysql-connector-python==8.0.27
numpy==1.21.6
openpyxl==3.0.10
packaging==21.0
pandas==1.3.5
Pillow==9.2.0
platformdirs==2.3.0
pluggy==1.0.0
promise==2.3
protobuf==3.19.0
psycopg2-binary==2.8.6
py==1.10.0
pycparser==2.20
PyJWT==1.7.1
pylint==2.10.2
pyOpenSSL==21.0.0
pyparsing==3.0.3
PySimpleGUI==4.60.4
pytest==6.2.5
python-dateutil==2.8.2
pytz==2022.1
requests==2.26.0
Rx==1.6.1
scikit-learn==1.0.2
scipy==1.7.3
singledispatch==3.7.0
six==1.16.0
sklearn==0.0
SQLAlchemy==1.4.26
sqlparse==0.4.2
threadpoolctl==3.1.0
tk==0.1.0
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.2
Unidecode==1.3.4
urllib3==1.26.7
Werkzeug==2.0.1
wrapt==1.12.1
WTForms==2.3.3
xlrd==1.2.0
zipp==3.5.0
